.container {
  font-family: "Nunito", sans-serif;
  padding: 150px 300px;
  text-align: center;
  color: #042922;
}

.stopwatch-container {
  background-color: #00836a;
  padding: 20px 30px 40px;
  border-radius: 25px;
}

h2 {
  color: #fff;
  font-size: 30px;
  margin-bottom: 10px;
}

.time {
  display: flex;
  justify-content: center;
  margin: auto;
  font-weight: 600;
}

.time > div {
  background-color: #fff;
  margin: 5px;
  border-radius: 25px;
  padding: 20px;
}

.time > span {
  display: block;
  margin: auto 0;
  color: #fff;
}

button {
  border: none;
  cursor: pointer;
  padding: 15px 30px;
  margin: 15px 10px;
  width: 150px;
  border-radius: 25px;
  border: 5px solid #fff;
}

button:hover {
  transition: background 0.5s ease;
  color: #042922;
  background-color: #fff;
}

.start-btn {
  background-color: #9FE2BF;
}

.start-btn:hover {
  border-color: #9FE2BF;
}

.stop-btn {
  background-color: #AA2020;
  color: #fff;
}

.stop-btn:hover {
  border-color: #AA2020;
}

.wait-btn {
  background-color: #FEE69E;
}

.wait-btn:hover {
  border-color: #FEE69E;
}

.reset-btn {
  background-color: #F9A88A;
}

.reset-btn:hover {
  border-color: #F9A88A;
}

button:disabled {
  cursor: not-allowed;
  background-color: #035646;
  color: #69a096;
  border: none;
}

@media screen and (max-width: 930px) {
  .container {
    padding: 150px 100px;
  }
}

@media screen and (max-width: 480px) {
  .container {
    padding: 150px 20px;
  }
}